<div class="row mt-5">
  <div class="col-md-6 m-auto">
      <h1 class="text-center">Ingress - an entry management Application</h1>
      <br><br>
      <br><br>
    <div class="card card-body text-center">
      <h1><i class="fas fa-fingerprint fa-3x"></i></h1>
      <p>Create an Account or Login as Host</p>
      <a href="/hosts/register" class="btn btn-primary btn-block mb-2"
        >Register</a
      >
      <a href="/hosts/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div>
