<div class="flex flex-col items-center justify-center min-h-[calc(100vh-200px)]">
  <h1 class="text-4xl font-bold text-center mb-8">Welcome to Ingress</h1>
  <div class="bg-white shadow-md rounded-lg p-8 w-full max-w-md">
    <div class="text-center mb-8">
      <i class="fas fa-fingerprint text-6xl text-primary"></i>
    </div>
    <p class="text-xl text-center mb-8">Create an Account or Login as Host</p>
    <div class="flex flex-col items-center justify-center">
      <a href="/hosts/register" class="btn btn-primary w-full mb-4 text-center ">Register</a>
      <a href="/hosts/login" class="btn btn-secondary w-full text-center">Login</a>
    </div>
  </div>
</div>